.header {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(211, 211, 211);
  z-index: 100;
}

.left-section {
  display: flex;
  align-items: center;
}
.hamburger-menu {
  height: 24px;
  margin-left: 20px;
  margin-right: 20px;
}
.youtube-logo {
  height: 20px;
}
.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}
.search-bar {
  flex: 1;
  height: 38px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  box-shadow: inset 1px 2px 3px rgb(0, 0, 0, 0.05);
  width: 0;
}
.search::placeholder {
  font-family: Arial;
  font-size: 15px;
}
.search-btn,
.voice-search-btn,
.upload-btn,
.youtube-btn,
.notifications-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.search-btn {
  height: 40px;
  width: 66px;
  background-color: rgb(247, 247, 247);
  border-color: rgb(216, 215, 215);
  border-style: solid;
  border-width: 1px;
  margin-left: -1px;
  margin-right: 10px;
}

.search-btn .tooltip,
.voice-search-btn .tooltip,
.upload-btn .tooltip,
.youtube-btn .tooltip,
.notifications-icon-container .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -40px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-btn:hover .tooltip,
.voice-search-btn:hover .tooltip,
.upload-btn:hover .tooltip,
.youtube-btn:hover .tooltip,
.notifications-icon-container:hover .tooltip {
  opacity: 1;
}

.search-icon {
  height: 25px;
}
.voice-search-btn {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(247, 247, 247);
}
.voice-search-icon {
  height: 24px;
  background-color: rgb(247, 247, 247);
}
.right-section {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  flex-shrink: 0;
}
.upload-icon {
  height: 24px;
}
.youtube-icon {
  height: 24px;
}
.notifications-icon {
  height: 24px;
}
.mychannel {
  height: 32px;
  cursor: pointer;
}
.notifications-icon-container {
  position: relative;
}
.notifications-count {
  position: absolute;
  top: -2px;
  right: -4px;
  background-color: rgb(192, 3, 3);
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: Roboto, Arial;
  font-size: 11px;
  border-radius: 10px;
}
